* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.backgroundcolor {
    background: #B6C4CF!important;
}

.body-container {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #B6C4CF;
}

.clickable-logo {
    display: inline-block;
    padding: 10px;
}

.header-logo {
    margin: 0;
    padding: 0;
    border: none;
    height: 30px;
    width: auto;
    pointer-events: none;
} 

.logo {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: transparent;
}

.photos {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: transparent;
    border-radius: 12px;
    object-fit: cover;
}

.meetingLocation {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: transparent;
}

